{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}phpOOP{% endblock %}</title>
</head>
<header><nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cart/">Cart</a></li>
            <li><a href="/product/">Товары</a></li>
            <li><a href="/product/add/">Добавить товар</a></li>
            <li><a href="/users/">Пользователи</a></li>
            <li><a href="/users/add/">Добавить пользователя</a></li>
            <li><a href="/verification/">Войти</a></li>
        </ul>
    </nav></header>
<body>
{% block content %}
    
{% endblock %}
</body>
</html>